:root {
	--primary: #FE8019,
	--secondary: #d79921,
	--accent: #8ec07c,
	--error: #cc241d,
	--warning: #fabd2f,
	--info: #b8bb26,
	--success: #8ec07c,
	--white: #f3efde,
	--ocre: #ebdbb2,
	--yellow: #fabd2f,
	--yellowDark: #d79921,
	--greyDark: #504945,
	--greyDarkInv: #bdae93,
	--greyDarker: #282828,
	--blueLight: #83a598,
	--blue: #458588
}
