// File: assets/main.scss
// 1. Import the initial variables
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/utilities/_all";

// 2. Set your own initial variables
// Update blue
// $primary: #876876;
$white: #f3efde;
$ocre: #ebdbb2;
$primary: #fe8019;
$yellow: #fabd2f;
$yellow-dark: #d79921;
$grey-dark: #504945;
$grey-dark-inv: #bdae93;
$grey-darker: #282828;
$blue-light: #83a598;
$blue: #458588;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
$danger: #cc241d;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "grey-dark": ($grey-darker, $grey-dark-inv),
  "grey-darker": ($grey-dark, $ocre),
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "yellow-dark": ($yellow-dark, $blue-light),
  "yellow": ($yellow, $blue)
);

$body-background-color: $grey-darker;

// menu stuff
// $nuxt-link-active: red; // just testing
// $link: $white;
// $link-active: green;
// $navbar-item, nuxt-link-active{ $danger,};
$navbar-item: green;
$navbar-item-active-background-color: blue;
$navbar-tab-active-background-color:	red;
$navbar-background-color: $grey-dark;
$navbar-item-color: $white;
$navbar-tab-active-color: $white;
$navbar-item-hover-color: $white;
$menu-item-active-background-color: $grey-dark;
$navbar-burger-color: $white;
$navbar-dropdown-background-color: $grey-dark;
$navbar-dropdown-item-hover-background-color: $grey-dark;
$navbar-dropdown-item-active-background-color: $grey-dark;
$navbar-divider-background-color: $grey-dark;
$navbar-item-hover-background-color: $grey-dark;

// card stuff
$card-header-background-color: $yellow;

// Add a serif family

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
// $tablet: 769px !default;
$tablet: 740px !default;
// 960px container + 4rem
// $desktop: 960px + (2 * $gap) !default;
$desktop: 740px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
$widescreen-enabled: true !default;
// 1344px container + 4rem

@import "~bulma";
// @import "~buefy/src/scss/buefy";
